---
import HeaderLink from './HeaderLink.astro';
import LangToggle from './LangToggle.astro';
import { SITE_TITLE } from '../consts';
---

<header>
	<nav>
		<h2><a href="/">{SITE_TITLE}</a></h2>
		<div class="internal-links">
			<HeaderLink href="/"><span data-en>Home</span><span data-zh>首頁</span></HeaderLink>
			<HeaderLink href="/blog"><span data-en>Blog</span><span data-zh>文章</span></HeaderLink>
			<HeaderLink href="/about"><span data-en>About</span><span data-zh>關於</span></HeaderLink>
		</div>
		<div class="right-controls">
			<LangToggle />
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
	.right-controls {
		display: flex;
		align-items: center;
		gap: 0.5em;
	}
</style>
